<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Change password</title>
</head>

<body>
    {{#> header title="Change Password"}}
    {{/header}}
    <form method="POST" action="/changePassword">
        <label for="password">New password</label>
        <input type="password" name="password" id="password" placeholder="New password" required>
        
        <button type="submit">Change password</button>
        <a class="routeLink" href="/dashboard">Return to dashboard</a>
    </form>
</body>

</html>